@font-face {
    font-family: share-tech;
    src: url('assets/ShareTech-Regular.ttf');
}

@keyframes projectSlider {
    0%{margin-right: 0%;}
    100%{margin-right: 200%;}
}

html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1D1D1D;
}

.motherContainer
{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}

.pixelArtContainer
{
    height: 240px;
    width: 270px;
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(7, 30px);
    /* border: 1px solid red; */
}

/* .pixel
{
    border: 1px solid white;
} */

/* ----------------------------------------------- */

.introContainer
{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    margin-top: -75px;
}

.greeting
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.greetingText
{
    color: #FFFFFF;
    font-family: share-tech;
    font-size: 55px;
}

.description
{
    color: #FFFFFF;
    font-family: share-tech;
    font-size: 18px;
    width: 320px;
    margin-top: -40px;
    text-align: justify;
	text-justify:newspaper;
    line-height: 20px;
}

/* ----------------------------------------------- */

.techContainer
{
    width: 100%;
    height: min-content;
    display: grid;
    justify-content: center;
}

.line1
{
    height: 95px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: space-between;
    /* border: 1px solid red; */
}

label
{
    padding-bottom: 8px;
}

.img1
{
    width: 80px;
    height: 70px;
}

.radius
{
    border-radius: 9px;
}

.html
{
    color: #FC490B;
    font-family: share-tech;
    font-size: 16px;
    width: 80px;
    display: flex;
    justify-content: center;
}

.css
{
    color: #2196F3;
    font-family: share-tech;
    font-size: 16px;
    width: 80px;
    display: flex;
    justify-content: center;
}

.js
{
    color: #FFDF00;
    font-family: share-tech;
    font-size: 16px;
    width: 80px;
    display: flex;
    justify-content: center;
}

.ts
{
    color: #3178C6;
    font-family: share-tech;
    font-size: 16px;
    width: 80px;
    display: flex;
    justify-content: center;
}

/* SECOND GRID LINE */

.line2
{
    height: 75px;
    width: 420px;
    display: grid;
    grid-template-columns: repeat(3, 75px);
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 40px;
}

.gridEl2
{
    height: 75px;
}

.img2
{
    width: 65px;
    height: 55px;
}

.img2angular
{
    width: 75px;
    height: 65px;
    margin-top: -8px;
}

.ruby
{
    color: #A60003;
    font-family: share-tech;
    font-size: 16px;
    width: 75px;
    display: flex;
    justify-content: center;
}

.angular
{
    color: #DD0031;
    font-family: share-tech;
    font-size: 16px;
    width: 75px;
    display: flex;
    justify-content: center;
}

.figma
{
    color: #B659FF;
    font-family: share-tech;
    font-size: 16px;
    width: 75px;
    display: flex;
    justify-content: center;
}

/* ----------------------------------------------- */

.projects
{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.projectsHeader
{
    color: #FFFFFF;
    /* -webkit-text-stroke: 0.05px #3178C6; */
    text-shadow: 3px 2px 2px #2b5f99;
    font-family: share-tech;
    font-size: 37px;
}

/* ----------------------------------------------- */

.finalCenterer
{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    padding-bottom: 15px;
}

.projectStripContainer
{
    width: 900px;
    height: 100px;
    background-image: linear-gradient(to right,#61a3e9, #2b5f99 , #61a3e9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.projectsGrid
{
    height: 100px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(12, 150px);
    align-content: center;
    justify-content: space-between;
    animation: projectSlider 10s linear infinite;
}

.project
{
    height: 80px;
    width: 100px;
    background-color: #F5F5F5;
}

/* -------------------------------------------------------------- */

.outline
{
    background-color: #111111;
}

.darkWhite
{
    background-color: #818181;
}

.darkBrown
{
    background-color: #311800;
}

.skin
{
    background-color: #ffdba6;
}

.lightSkin
{
    background-color: #ffe4bc;
}

.nose
{
    background-color: #f7c984;
}

.lowerNose
{
    background-color: #f7c984;
    box-shadow: inset 0px -15px 0px 0px #141414;
}

.lowerSkin
{
    background-color: #FFDEAD;
    box-shadow: inset 0px -15px 0px 0px #141414;
}

.lowerSkinLow
{
    background-color: #FFDEAD;
    box-shadow: inset 0px -20px 0px 0px #141414;
}

.beard
{
    background-color: #141414;
}

.lowerBeard
{
    background-color: #141414;
    box-shadow: inset 0px -25px 0px 0px #141414, inset -8px -10px 0px 0px #FFDEAD, inset 8px -10px 0px 0px #FFDEAD;
}

.extraBeard
{
    box-shadow: 21px 0px 0px #141414;
    z-index: 1;
}

.extraBeard2
{
    box-shadow: -21px 0px 0px #141414;
    z-index: 1;
}

.extraHair
{
    box-shadow: 15px 0px 0px #111111;
    z-index: 2;
}

.extraHair2
{
    box-shadow: -15px 0px 0px #111111;
    z-index: 2;
}

.hairShine
{
    background-color: #161616;
    box-shadow: 10px 0px 0px #141414, -10px 0px 0px #141414;
    z-index: 1;
}

.eyeWhite
{
    background-color: #f7f7f7;
}

.pupil
{
    background-color: rgb(8, 8, 8);
}

/* lips */
.lips
{
    display: grid;
    grid-template-rows: repeat(3);
    box-shadow: 8px 0px 0px #FFA07A, -8px 0px 0px #FFA07A,
     9px 0px 0px 2px #FFDEAD, -9px 0px 0px 2px #FFDEAD;
    z-index: 1;
    border-radius: 5px;
}

.lip
{
    background-color: #FFA07A;
    height: 12.5px;
}

.midLip
{
    background-color: #ca6740;
    height: 5px;
}

/* -------------------------------------------------------------- */

.teeth
{
    height: 15px;
    width: 40px;
    margin-top: -2px;
    margin-left: -5px;
    background-color: #fdfdfd;
    /* transform: perspective(2em) skewX(-10deg) rotate(-5deg); */
    transform: perspective(0.8em) rotateX(-10deg);
    z-index: 2;
}

.teeth::before
{
    content: '';
    position: absolute;
    height: 0.5px;
    width: 40px;
    background-color: #1D1D1D;
    box-shadow: 0px 7px 0px #1d1d1d9a;
}

.rotate
{
    transform: rotate(-5deg);
}

/* ------------------------------------------------------------------ */

.chestSection
{
    display: grid;
    grid-template-rows: repeat(2);
}

.chest
{
    height: 10px;
    width: 30px;
    background-color: #ffdba6;
    box-shadow: 10px 0px 0px #ffdba6, -10px 0px 0px #ffdba6;
    z-index: 1;
}

.shirt
{
    height: 20px;
    width: 30px;
    box-shadow: 10px 0px 0px #f7f7f7, -10px 0px 0px #f7f7f7;
    z-index: 1;
}

/* --------------------------------------------------------------------------- */

.leftRounder
{
    border-top-left-radius: 5px;
}

.rightRounder
{
    border-top-right-radius: 5px;
}

.leftShoulder
{
    border-top-left-radius: 15px;
}

.rightShoulder
{
    border-top-right-radius: 15px;
}